<% @title = 'Resend confirmation instructions'  %>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:class => 'course_manage', :method => :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class="row">
		<label>Email</label><%= f.email_field :email, :autofocus => true %>	  
		<div class="clear"></div>
	</div>
  <div class="clear"></div><BR>

  <div class='row'><%= f.submit "Resend confirmation instructions" %></div>
<% end %>
<div class="clear"></div><BR>

<%= render "devise/shared/links" %>
