$('#Comments<%= @hal.id %>').find("ul").append('<li><h1><%= current_user.name %> Says</h1><span><%= @comment.created_at.strftime("%m/%d/%Y") %></span><p><%=j @comment.body %></p><a href="#" onclick="return false;" id="reply<%= @comment.id %>" title="<%= @hal.id %>" class="reply">Reply</a> </li>');
$("#addComment<%= @hal.id %>").toggle(1000);
$("#reply<%= @comment.id %>").click(function(){
	console.log($(this));
	var com = "#addComment<%= @hal.id %>";
	$(com).toggle(1000);
});
$('#comment_body<%= @hal.id %>').find("textarea").val('')