<% @title = "My Profile" %>
<% @show_aside = true %>

  <div class="section3">
    <div class="box_holder">
      <div class="box">
        <div class="profile">
          <div class="lft width70"> 	
	<%= image_tag current_user.avatar.url(:small), :class => "img_lft" %>
		
            <div class="profile-lft margintop20">
              <dl>
                <dt>Name:</dt>
                <dd><%= current_user.name %></dd>
              </dl>
              <dl>
                <dt>About:</dt>
                <dd><%= current_user.about_me %></dd>
              </dl>

              <dl>
                <dt>Email:</dt>
                <dd><%= current_user.email %></dd>
              </dl>
            </div>
          </div>
          <div class="rgt margintop20" ><%= link_to "edit profile", edit_profile_path, :class => "button" %>
            <div class="clear"></div>
            <%= link_to "Mod Pass", edit_user_registration_path,:class => "button" %> </div>
          <div class="clear space"></div>
          <div class="divider"></div>
          <div class="clear space"></div>
          <div class="btm">
			<% if current_user.following.size > 0  %>
              <h1 class="blacktxt">Following users:</h1>
			<% else %>
              <h1 class="blacktxt">Not Following any users</h1>
			<% end %>
              <ul><p>
				<% current_user.following.each do |user| %>
					<%= link_to user.name, user, :class => "link1" %><%- if user != current_user.following.last -%>, <% end %>
				<% end %>
              </p></ul>
			<% if current_user.following.size > 0  %>
              <h1 class="blacktxt">Followed by:</h1>
			<% else %>
              <h1 class="blacktxt">Not Followed by anyone</h1>
			<% end %>
              <ul><p>
				<% current_user.followers.each do |user| %>
					<%= link_to user.name, user, :class=>"link1" %><% if user != current_user.followers.last %>, <% end %>
				<% end %>
              </p></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
