

<div class="span2">
	<a href="<%= current_user.avatar.url(:medium) %>"><%= image_tag current_user.avatar.url(:small) if (current_user and current_user.avatar.url(:small)) %></a>
</div>
<div class="span5">



	name: <%= current_user.name %><BR>
	email: <%= current_user.email %><BR>
		<%= link_to "edit profile", '/users/editmyprofile' %>
		
		
	<BR><BR>
	<div class="span2">
		
	
		Following:
		<% current_user.following.each do |user| %>
		<%= link_to user.name, user %> --<%= semantic_form_for user, :url => unfollow_user_path(user, method: :put) do |f| %>
			<%= hidden_field_tag 'id', user.id %>
			<%= hidden_field_tag 'red', request.original_url %>
			<%= f.action :submit, :label => "Unfollow User" %>
		<% end %>

		<BR>
		<% end %>
		<BR><BR>
	</div>

	<div class="span2">
		Followed by:
		<% current_user.followers.each do |user| %>
		<%= link_to user.name, user %><BR>
		<% end %>
		<BR>

	</div>
</div>