
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<%= image_tag @user.avatar.url(:thumb) if (@user.avatar.url(:thumb)) %>


plan:<BR>
	<BR>
	title: <%= @user.strategy.title %>
	<BR>
	description: <%= @user.strategy.description %>
	<BR>
		Activities:<BR>
	<% @user.strategy.activities.each do |activity| %>
	Activity:	<%= activity.id %>, <%= activity.title %> -- <%= link_to "take this" , copy_activity_path(activity.id) %>
<% end %>


<% if (current_user.following.include?(@user)) %>
	<%= semantic_form_for @user, :url => unfollow_user_path(@user, method: :put) do |f| %>
		<%= hidden_field_tag 'id', @user.id %>
		<%= hidden_field_tag 'red', request.original_url %>
		<%= f.action :submit, :label => "Unfollow User" %>
	<% end %>
<% else %>	
	<%= semantic_form_for @user, :url => follow_user_path(@user, method: :put) do |f| %>
		<%= hidden_field_tag 'id', @user.id %>
		<%= hidden_field_tag 'red', request.original_url %>
		<%= f.action :submit, :label => "Follow User" %>
	<% end %>
<% end %>


<BR>
User hals: 
<%= render :partial => 'hals/view_hal_list', locals: {hals: @user.hals, show_user: false} %>

<BR><BR>

