<% @show_aside = true %>
<% @title = "User Profile" %>

		<div class="single" style="float:left; width:640px;"> 
			<div class="section3"> 
				<div class="box_holder">
	 				<div class="box"> 
						<div class="profile"> 
							<div class="lft"> 
								<%= image_tag @user.avatar.url(:small), :class => "img_lft" if (@user.avatar.url(:thumb)) %> 
								<p> <h4><%= @user.name %></h4> <br> <span class="info"></span> </p> 
             						</div> 
							<div class="rgt"> <!--<a href="#" class="button" style=" margin-top:30px;">Follow</a>--></div> 
							<div class="clear"></div>
					</div>


					<% if (current_user and !current_user.following.include?(@user)) %>
						<%= form_for @user, :url => follow_user_path(@user, method: :put) do |f| %>
							<%= hidden_field_tag 'id', @user.id %>
							<%= hidden_field_tag 'red', request.original_url %>
							<%= f.submit "Follow User", :class => "button", :style=>"float:right;" %>
						<% end %>
					<% end %>


					<% if @user.following.size > 0 %>Following:<% end %>
					<% @user.following.each do |user| %>
						<%= link_to user.name, user %>
						<% if user != @user.following.last %>,<% end %>
					<% end %><BR>
					<% if @user.followers.size > 0 %>Followed by:<% end %>
					<% @user.followers.each do |user| %>
						<%= link_to user.name, user %><%- if user != @user.followers.last %>,<% end %>
					<% end %>
					<BR>
				</div> 
			</div> 
			<div class="clear"></div> 
		</div>


	
 <h2 class="title">Plan:</h2>

	<%= render :partial => 'strategies/view_two', locals: {strategy: @user.strategy, myp: false} %>




		<div class="space"></div>
		<BR><BR>

						
		<%= render :partial => 'hals/hal_list', locals: {hals: @user.hals, show_user: false, title: 'Entries'} %>
		<BR><BR>

	
	</div>

