<script>
$(function() {
$('#link1').hover(function() { 
    $('#navmenu1').show(); 
}, function() { 
    $('#navmenu1').hide(); 
});
$('#link2').hover(function() { 
    $('#navmenu2').show(); 
}, function() { 
    $('#navmenu2').hide(); 
});
});
</script>

<header>
	<%= content_tag :div, class: "logo" do -%>
 		<%= image_tag "/images/lobehold.png", size: "200x10" %><BR>
	<% end -%>
	<nav>
		<ul>
		<li> <%= link_to "my Plan", :myp, class: 'stra'  %>  </li>
		<li> <a href="blog.html" class="blog">Blog</a>  </li>
		<li> <a href="/courses" class="name">Courses</a></li>
		<ul id="navmenu2">
				<li><a href="courses.html#tab-1" title="Courses Overview">Courses Overview</a></li>
				<li><a href="courses.html#tab-2" title="Courses Plan">Courses Plan</a></li>
				<li><a href="courses.html#tab-3" title="Courses Explanation">Courses Explanation</a></li>
		</ul>
		
	</nav>
	<div class="user">
		<div class="image">
			<div class="image2">
				<%= image_tag current_user.avatar.url(:thumb) if (current_user and current_user.avatar.url(:thumb)) %>
			</div>
		</div>
		<div class="name"><a href="#"><%= current_user.name %></a> 
			<ul>
				<li><%= link_to "profile", "/users/myprofile" %></li>
			    <li><%= link_to "Sign out", sign_out_path %></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</header>




