<header>
	<%= content_tag :div, class: "logo" do -%>
 		<%= image_tag "/images/lobehold.png", size: "200x10" %><BR>
	<% end -%>
	<nav>
		<% if current_user  %>
		<ul>
		<li> <%= link_to "my Plan", :myp, class: 'stra'  %>  </li>
		<li id='link1'> <%= link_to "View Blogs", :view_hals %>
		<ul id="navmenu1">
			<li><%= link_to "add an entry", new_hal_path  %></li>
            <li class="divider"></li>
            <li><%= link_to "View Blogs", :view_hals %></li>
		</ul>
		<% end %>

		<li id='link2'> <a href="/courses" class="course">Courses</a>
			<ul id="navmenu2">
                <li><a href="/courses">Browse courses</a></li>
				<% if (current_user && current_user.get_following_courses.size>0) %>
				<li id="link2a"><a href="#" title="Courses Plan">Courses I follow</a>
					<ul id="navmenu2a">
						<% 	current_user.get_following_courses.each do |course| %>
							<li><%= link_to course.name, course %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
				<% if (current_user && current_user.courses.size>0) %>
				<li id="link2b"><a href="#" title="Courses Explanation">Courses I created</a>
					<ul id="navmenu2b">
						<% 	current_user.courses.each do |course| %>
						<li><%= link_to course.name, course %></li>
						<% end %>
					</ul>
				</li>
									
				<% end %>
                <li class="divider"></li>
                <li><a href="/courses/new">create a course</a></li>
			</ul>
		</li>
		
	</nav>

	<div class="user">
		<% if current_user  %>
		<div class="image">
			<div class="image2">
				<%= image_tag current_user.avatar.url(:thumb) if (current_user and current_user.avatar.url(:thumb)) %>
			</div>
		</div>
		<div class="name"><a href="#"><%= current_user.name %></a> 
			<ul>
				<li><%= link_to "profile", "/users/myprofile" %></li>
			    <li><%= link_to "Sign out", sign_out_path %></li>
			</ul>
		</div>
	<% else %>
	    <li><%= link_to "Sign up", new_user_registration_path %>/<%= link_to "sign in", new_user_session_path %></li>
		<li><%= link_to "	with FB:", "/auth/facebook", id: "sign_in" %></li>	
	<% end %>
</div>
	<div class="clear"></div>
</header>
