<% if !defined?(show_user) 
	show_user = true
	 end %>
	<% if !defined?(title) 
		title = "title"
		 end %>
	
<% if show_user %>
	<% if (hal.user) then %>
       	<h1><%= link_to hal.user.name, hal.user, :class=> 'userlink', :title=>'User One', :style=>'float:left'%><% if !current_user.following.include?(hal.user) %> 
			<%= link_to " (follow)", follow_path(hal.user), :class=>'userlink',:style=>'float:left' %>
		<% end %>
		</h1>
		<div style='float:right'><%= hal.created_at.strftime("%m/%d/%Y") %></div>
		<div class="clear"></div>
		<%= image_tag hal.user.avatar.url(:small) if (hal.user.avatar.url(:small)) %> 
	<% else  %> 
		Anonymous
	<% end  %>
<% end %>
			<%= link_to image_tag("/images/help-wanted.jpg", :title=>title + hal.id.to_s, :class=>"collapselinkhals", :style => 'width:75px; float:right; padding-right:0px; padding-top:10px'), '#' if hal.help %> 
            <p><%= hal.entry %></p>
               <% if !hal.insights.blank? %><p><strong>Insights</strong>: <%= hal.insights %></p><% end %>
	               <ul>
					<% if hal.halable %><li>Activity: <%= link_to hal.halable.title, hal.halable %></li><% end %>
		           <% if hal.course %><p>in course: <%= link_to hal.course.name, hal.course %></p><% end %>
               </ul>
				  <!-- <div class="dis"><div class="clear"></div></div> -->
               <% if hal.comments.size > 0  %><a href="javascript:void(0);"><span id="<%= title %><%= hal.id %>" title='<%= title %><%= hal.id %>' class="collapselinkmarginlft30"><%=  pluralize(hal.comments.size, "comment") %>  </span></a> | <% end %> 
		<a href="javascript:void(0);"><span id="<%= title %><%= hal.id %>" title='<%= title %><%= hal.id %>' class="collapselinkhals">Add a Comment</span></a>
	
		<% if hal.user == current_user %> <%= link_to 'Edit', edit_hal_path(hal), :class => 'button_head' %> <% end %>
		<!-- comments -->
	               <div id="Comments<%= title %><%= hal.id %>" class="comment">
             <ul>
				<% if hal.comments.size > 0  %>
 					 <% hal.comments.each do |comment| %>
	                   <li>
	                     <% if comment.user %><h1><%= comment.user.name %> Says</h1><% end %>
	                     <span><%= comment.created_at.strftime("%m/%d/%Y") %></span>
	                     <p><%= comment.body %></p>
	                     <a href="#" onclick='return false;' title='<%= title %><%= hal.id %>' id="reply<%= title %><%= hal.id %>" class="reply">Reply</a> <%= link_to "Delete", comment, method: :delete if comment.user==current_user %>
				</li>
			  <% end %>
			<% end %>
	                 </ul>
	               </div>
               <div id="addComment<%= title %><%= hal.id %>" class="comment">
                 <ul>
                   <li>
                     <h1>Comment</h1>
			<%= form_for(Comment.new, :remote => true, :class => 'course_manage') do |f| %>
			<%= hidden_field_tag 'hal_id', hal.id %>
			<%= hidden_field_tag 'page', title %>
			    <div id="error_explanation">
			    </div>

			  <div class="field" id="comment_body<%= title %><%= hal.id %>">
			    <%= f.label :body %><br />
			    <%= f.text_area :body, :rows => 10, :cols => 10 %>
			  </div>
			  <div class="actions">
				<%= f.submit "Create Comment", {:class=>"button"} %>
			  </div>
			<% end %>
			
                     <!-- <textarea name="Comment" cols="30" rows="5"></textarea> -->
                     <p>
                       <!-- <input name="comment_button" type="button" class="send_button" value="Send"> -->
                     </p>
                   </li>
                 </ul>
               </div>
             <div class="clear"></div>
