<% if !defined?(show_user) 
	show_user = true
	 end %>
	<% if !defined?(title) 
		title = "title"
		 end %>
	
<% if show_user %>
	<% if (hal.user) then %>
	        	<h1><%= link_to hal.user.name, hal.user, :class=> 'userlink', :title=>'User One'%></h1>
		<%= image_tag hal.user.avatar.url(:small) if (hal.user.avatar.url(:small)) %> 
	<% else  %> 
		Anonymous
	<% end  %>
<% end %>
               <p><%= hal.entry %></p><%= hal.created_at.strftime("%m/%d/%Y") %>
               <% if !hal.insights.blank? %><p><strong>Insights</strong>: <%= hal.insights %></p><% end %>
               <% if hal.help %><p><strong>Help requested</strong><span id="<%= title %><%= hal.id %>" title='<%= title %><%= hal.id %>' class="collapselinkhals">  >> Respond</span></p><% end %>
	           <% if hal.course %><p>From course: <%= link_to hal.course.name, hal.course %></p><% end %>
	<% if hal.user == current_user %> <%= link_to 'Edit', edit_hal_path(hal) %> <% end %>
		<% if hal.halable %>
	               <ul>
	                 <li>Activity: <%= link_to hal.halable.title, hal.halable %></li>
	               </ul>
		<% end %>
		  <div class="dis"><div class="clear"></div></div>
               <% if hal.comments.size > 0  %><a href="javascript:void(0);"><span id="<%= title %><%= hal.id %>" title='<%= title %><%= hal.id %>' class="collapselinkmarginlft30"><%=  pluralize(hal.comments.size, "comment") %>  </span></a> | <% end %> 
		<a href="javascript:void(0);"><span id="<%= title %><%= hal.id %>" title='<%= title %><%= hal.id %>' class="collapselinkhals">Add a Comment</span></a>
		<!-- comments -->
		<% if hal.comments.size > 0  %>
	               <div id="Comments<%= title %><%= hal.id %>" class="comment">
             <ul>
 					 <% hal.comments.each do |comment| %>
	                   <li>
	                     <% if comment.user %><h1><%= comment.user.name %> Says</h1><% end %>
	                     <span><%= comment.created_at.strftime("%m/%d/%Y") %></span>
	                     <p><%= comment.body %></p>
	                     <a href="#" onclick='return false;' title='<%= title %><%= hal.id %>' id="reply<%= title %><%= comment.id %>" class="reply">Reply</a> <%= link_to "Delete", comment, method: :delete if comment.user==current_user %>
				</li>
			  <% end %>
	                 </ul>
	               </div>
		<% end %>
               <div id="addComment<%= title %><%= hal.id %>" class="comment">
                 <ul>
                   <li>
                     <h1>Comment</h1>
			<%= form_for(Comment.new, :remote => true) do |f| %>
			<%= hidden_field_tag 'hal_id', hal.id %>
			<%= hidden_field_tag 'page', title %>
			    <div id="error_explanation">
			    </div>

			  <div class="field" id="comment_body<%= title %><%= hal.id %>">
			    <%= f.label :body %><br />
			    <%= f.text_area :body %>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>
			
                     <!-- <textarea name="Comment" cols="30" rows="5"></textarea> -->
                     <p>
                       <!-- <input name="comment_button" type="button" class="send_button" value="Send"> -->
                     </p>
                   </li>
                 </ul>
               </div>
             <div class="clear"></div>
