<% @title = "Add Blog Entry" %>
<% @title += " about #{@activity.title}"  if @activity %>
<% @show_aside = true %>

<%= semantic_form_for @hal, :html => {:class => "course_manage"} do |f| %>
<% if @hal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@hal.errors.count, "error") %> prohibited this Blog entry from being saved:</h2>
    <ul>
    <% @hal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<% if !@activity %>
<div class="row">
	<% coll = current_user.strategy.current_activities.map do |a|   
		c = a.course!= nil ? ' - ' + a.course.name : ''
		[a.title + c, a.id] 
		end %>
	<%= f.input :halable_id,  :label => "Blog about which activity?", :as => :select, :include_blank => false, 
			:collection => coll + [["General Entry", 0]]  %>
</div>
<div class="clear"></div>
<% end %>

<div class="row">
	<label>Entry<%= raw tipper_text("The main content of your blog entry") %></label>
	<div class="clear"></div>
	<%= f.text_area :entry, :class => 'ckeditor' %></div>
	
<div class="clear"></div>
<div class="clear"></div>
<BR><BR><BR>

<div class="row" >
	<label>Insights  <%= raw tipper_text('Any insights that might have come from this activity') %>
	</label><%= f.text_area  :insights %></div>
<div class="clear"></div>

<div class="row">
<label>Tag List<%= raw tipper_text("Enter comma separated tags.<BR>It'll make it easy to organize your entries and find related entries.") %></label><%= f.input  :tag_list, :label => false %>
</div>
<div class="clear"></div>

<div class="row">
<label>Help requested <%= raw tipper_text("If you would like assistance from other people, or are struggling with a part of the activity mark this.  Please explain in your entry what you are struggling with") %></label>	<%= f.input :help %>
</div>
<div class="clear"></div>

<div class="row">
	<%  selection = {"public" => "1", "private" =>  "0" }  %>
	<label>Visibility <%= raw tipper_text("if you don't want others to see this entry mark it as private") %></label> <%= f.input :privacy, :as => :select, :include_blank => false, :collection => selection, :label => false %>
</div>
<div class="clear"></div>
	
	
<% if @activity %>
	<%= f.hidden_field :halable_id, :value => @activity.id %>
	<%= f.hidden_field :halable_type, :value => "Activity" %>
<% end %>

	<div class="row">
   		<%= f.submit "Create Entry" %>
		<%= submit_tag 'Cancel', :name => 'cancel' %>
  
		<% if current_user.provider == "facebook" %>
			<%= image_submit_tag("/images/share-on-facebook-button.gif", :name => 'fbshare', :width => 100) %>
		<% end %>
	</div>

<% end %>
