<h2>Blog entries by followers</h2>

<% @hals.each do |hal| %>
<div class="box">
               <h1><%= link_to hal.user.name, hal.user %></h1>
<%= hal.id %>
				<%= image_tag hal.user.avatar.url(:thumb) if (hal.user.avatar.url(:thumb)) %> 
               <p><%= hal.entry %></p>
				<% if hal.halable %>
	               <ul class="activity">
	                 <li>Activity: <%= link_to hal.halable.title, hal.halable %></li>
	               </ul>
				<% end %>
				  <br class="dis"/>				
               <% if hal.comments.size > 0  %><span id="<%= hal.id %>" title='<%= hal.id %>' class="collapselinkmarginlft30"><%=  hal.comments.size %> comments </span> | <% end %> 
				<span id="<%= hal.id %>" title='<%= hal.id %>' class="collapselink">Add a Comment</span>
				<!-- comments -->
				<% if hal.comments.size > 0  %>
	               <div id="Comments<%= hal.id %>" class="comment">
		             <ul>
 					 <% hal.comments.each do |comment| %>
	                   <li>
	                     <h1><%= comment.user.name %> Says</h1>
	                     <span><%= comment.created_at.strftime("%m/%d/%Y") %></span>
	                     <p><%= comment.body %></p>
	                     <a href="#" onclick='return false;' title='<%= hal.id %>' id="reply<%= comment.id %>" class="reply">Reply</a> 
						</li>
					  <% end %>
	                 </ul>
	               </div>
				<% end %>
               <div id="addComment<%= hal.id %>" class="comment">
                 <ul>
                   <li>
                     <h1>Comment</h1>
					<%= form_for(Comment.new, :remote => true) do |f| %>
					<%= hidden_field_tag 'hal_id', hal.id %>
					    <div id="error_explanation">
					    </div>

					  <div class="field" id="comment_body<%= hal.id %>">
					    <%= f.label :body %><br />
					    <%= f.text_area :body %>
					  </div>
					  <div class="actions">
					    <%= f.submit %>
					  </div>
					<% end %>
					
                     <!-- <textarea name="Comment" cols="30" rows="5"></textarea> -->
                     <p>
                       <!-- <input name="comment_button" type="button" class="send_button" value="Send"> -->
                     </p>
                   </li>
                 </ul>
               </div>
             </div>
             <div class="clear"></div>
<% end %>

