<script>
$(function() {
    $( document ).tooltip();
  });
</script>

<% @title = "Edit Course #{@course.name}" %>
	<%= render :partial => 'new_course_edit' %>

	<div class="clear"></div>
	<div class='boxed'>
	<h2>Instruction</h2>
	<p>The information in this form is the first thing people will see about your course.  Make sure the course name is descriptive enough and include keywords people might search.  You can add tags for keywords that don't fit in your description.</p>
</div>

	
	<%= form_for @course, :url => "/courses/overview_update/#{@course.id}", :format => :js, :html => {:class => "course_manage"}, :remote => true do |f| %>

	    <div class="ovinfo">
	    	<% if @course.errors.any? %>
			    <%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:
		    	<ul>
			    <% @activity.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			<% end %>
	    </div>
			<div class="row"><label>Course Name</label><%= f.text_field :name, :class => "top", :label => "Course Name" %><div class="clear"></div></div>
			<div class="row"><label>Overview<%= tipper("Overview.  This will appear on the course listing page.  For details, especially for course followers, add those in the supplemental info area", "right") %></label><%= f.text_area :overview, :label => "Overview.  This will appear on the course listing page.  For details, especially for course followers, add those in the supplemental info area" %><div class="clear"></div></div>
			<div class="row">
				<label>About the Author</label><%= f.text_area :about_the_author %>
				<div class="clear"></div>
			</div>			
			<div class="row">
				<label>Site Url<%= tipper("A website that pertains to the course if you have one.") %></label>  <%= f.text_field :external_site %>
				<div class="clear"></div>
			</div>			
			<div class="row">
				<label>Tag List<%= tipper("Enter comma separated tags.  This will help people find your course and easily see what it's about.  You can add as many as you wish, but they should be relevant to your course.", "right") %></label><%= f.text_field  :tag_list, :label => "enter comma separated tags" %>
				<div class="clear"></div>
			</div>

         <div class="row">
           <label>Image</label>
<div id='overview_image'><%= image_tag @course.course_image.url(:medium), :width=>"90", :class=>"float_lft" %></div>
			<div class="container1">
             <%= f.file_field :course_image %>
           </div>
           <div class="clear"></div>
         </div>

			<%= f.submit %>
	<div class="clear"></div>
	

	<% end %>
	<div class="edit2"><%= link_to "See Plan >>", '#', :id => 'seeplanfromoverview' %></div>
