<h2>Course Plan</h2>

<%= 
 # render :partial => 'strategies/view_one', locals: {strategy: @course.strategy} 
%>
<% @course.strategy.activities.each do |activity| %>
	<%= activity.id %><%= link_to activity.title, activity %> - <%= render :partial => 'strategies/timing', locals: {activity: activity} %><BR>
<% end %>

<div class="clear"></div>

<div class="edit2"><%= link_to "See Details >>", '#', :id => 'seedetails' %></div>
