<%= stylesheet_link_tag "activities" %>

<%= render :partial => 'new_course_edit' %>
<div class="clear"></div>

<%= render :partial => 'plan_instructions' %>
<div class="clear"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("li").click(function(){
				$(this).toggleClass("active");
				$(this).next("div").stop('true','true').slideToggle("slow");
			});
			<% if @activity %>
				showdiv('<%= @activity.id %>');
			<% end %>
		});
		var current_div = null;
		function showdiv(a) {
			$('#left'+current_div).removeClass('active');
			current_div = a;
			$('#left'+current_div).addClass('active');
			inanimateshowdiv(a);
			$(document.body).animate({
			    'scrollTop':   $('#'+a).offset().top
			}, 500);
		}
		
		function inanimateshowdiv(a) {
			$('.content').hide();
			$('#'+a).toggle('slow');
		}
	</script>

<!-- <div class="left_bar width94"> -->
	<div class="left_barc width100">
	
	<div class="toggle">
		<ul>
			<li class="lft" data-intro='Your plan' data-step='4'>
				<ul>
				<% activty_map = get_activity_by_map(@course.strategy.current_activities) %>
				<% if activty_map.size > 0 %>
					<% activty_map.each do |key, activities| %>
						<li class="column_a1"><h4><%= key.nil? ? "none" : "Goal: " + key.title %></h4></li>
						<li class="column_b1">
						<% activities.each do |activity| %>
							<ul>		
								<li class="" id='left<%= activity.id %>' onClick="showdiv('<%= activity.id %>');"> 
									<%= 'Sequence starting with ' if activity.type == "ActivityInSequence" %>
									 <%= activity.title %> <% timing = timing_text(activity); if !timing.empty?  %>- <%= timing %> <% end %>
								</li>
							</ul>
						<% end %>
						</li>
					<div class="clear"></div>
					<% end %>
				<% end %>
				</ul>
				<div class="edit2">
				<%= link_to 'Add activity', add_activity_to_course_path(@course.id)  %>
				</div>
			</li>
										
			<li class="rgt">
				<% @course.strategy.current_activities.each do |activity| %>
					<div id="<%= activity.id %>" class="content" style="display:none;">
						<%= render :partial => 'strategies/plan_activity_course_edit', locals: {activity: activity} %>
					</div>
				<% end %>
			</li>	
		</ul>
	</div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div class="edit2"><%= link_to "Course Additional Information >>", '#', :id => 'seedetails', :class => 'greenbutton' %></div>