<%= stylesheet_link_tag "activities" %>

<%= render :partial => 'new_course_edit' %>

<%= render :partial => 'plan_instructions' %>

	<script type="text/javascript">
		$(document).ready(function() {
			$("li").click(function(){
				$(this).toggleClass("active");
				$(this).next("div").stop('true','true').slideToggle("slow");
			});
			<% if @activity %>
				showdiv('<%= @activity.id %>');
			<% end %>
		});
		function showdiv(a) {
		$('.content').hide();
		$('#'+a).toggle('slow');
		$(document.body).animate({
		    'scrollTop':   $('#'+a).offset().top
		}, 500);
		}
	</script>

<div class="left_bar width94">
	<div class="toggle">
		<ul>
			<li class="lft" data-intro='Your plan' data-step='4'>
				<ul>
				<% activty_map = get_activity_by_map(@course.strategy.current_activities) %>
				<% if activty_map.size > 0 %>
					<% activty_map.each do |key, activities| %>
						<li class="column_a"><h4><%= key.nil? ? "none" : "Goal: " + key.title %></h4></li>
						<li class="column_b">
						<% activities.each do |activity| %>
							<ul>		
								<li class="" onClick="showdiv('<%= activity.id %>');"><%= activity.id %><%= activity.title %> - <%= render :partial => 'strategies/timing', locals: {activity: activity} %>								
								</li>
							</ul>
						<% end %>
						</li>
					<div class="clear"></div>
					<% end %>
				<% end %>
				</ul>
			</li>
										
			<div class="clear"></div>
	        <div class="box_3">
				<%= link_to 'Add activity', add_activity_to_course_path(@course.id) %>
				<div class="clear"></div>
	        </div>
		
			<li class="rgt">
				<% @course.strategy.current_activities.each do |activity| %>
					<div id="<%= activity.id %>" class="content" style="display:none;">
						<%= render :partial => 'strategies/plan_activity_course_edit', locals: {activity: activity} %>
					</div>
				<% end %>
			</li>	
		</ul>
	</div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div class="edit2"><%= link_to "<< Overview", '#', :id => 'seeoverview' %></div>
<div class="edit2"><%= link_to "Course Additional Information >>", '#', :id => 'seedetails' %></div>