<script>
$(function() {
$( "#tabs" ).tabs();
$('#tabs').tabs("option", 'active', <%= @tab %>)
});
</script>

<div class="page"><h2><%= @course.name %></h2></div>
<div class="page2">
	<div class="tab_holder2">
		<div id="tabs">
			<ul>
			<li><a href="#tabs-1">Overview</a></li>
			<li><a href="#tabs-2">Plan</a></li>
			<li><a href="#tabs-3">Additional Info</a></li>
			</ul>
			<div id="tabs-1">
				<%= render :partial => 'overview_edit' %>
			</div>
			<div id="tabs-2">
				<%= render :partial => 'plan_edit' %>
			</div>
			<div id="tabs-3">
				<%= render :partial => 'description_edit' %>
			</div>
		</div>

	</div>
</div>