<script>
$(document).ready(function(){
$(function() {
$( "#tabs" ).tabs();
$('#tabs').tabs("option", 'active', <%= @tab %>)
});
});
</script>
<% @show_aside = true %>
<% @title = @course.name %>

	<div class="tab_holder2">
		<div id="tabs">
			<ul>
			<li><a href="#tabs-1">Overview</a></li>
			<li><a href="#tabs-2">Plan</a></li>
			<li><a href="#tabs-3">Additional Info</a></li>
			</ul>
			<div id="tabs-1">
				<%= render :partial => 'overview_edit' %>
			</div>
			<div id="tabs-2">
				<%= stylesheet_link_tag "activities" %>
				<%= render :partial => 'new_course_edit' %>
				<div class="clear"></div>
				<%= render :partial => 'plan_instructions' %>
				<div class="clear"></div>
				<%= render :partial => 'strategies/view_plan', locals: {strategy: @course.strategy, myp: false, course_edit: true} %>
			</div>
			<div id="tabs-3">
				<%= render :partial => 'description_edit' %>
			</div>
		</div>

	</div>
