<% @title = "Course listing" %>
<% @search_path = courses_path %>
<% @show_aside = false%>

<section>
	<% if @courses.empty? %>
	<BR>
			No course matches your search criteria.
	<BR><BR>
	<% else %>
		<% @courses.each do |course| %>
					
			<div class="box_holder borderbtm">
				<div class="title"><h3><%= course.name %></h3><span>&nbsp;</span></div>
				<div class="triangle"></div>
				<div class="box"><%= link_to image_tag(course.course_image.url(:thumb)), course if course.course_image.url%>
				<p>
					<%= shorten(course.overview, 400) if course.overview %>
				</p>
				<p>
				<span class="inn">
					<%- followers = @followers[course.id.to_s] || 0  %>
					<%- if false 
						# followers.to_i > 0 
					%>
						People following: <%= link_to followers.to_s, course_people_path(course)  %>
					<%- end %>
					<%- if course.hals.where("privacy != 0").size > 0 %>
						<%- if followers.to_i > 0 %> | <% end %>
						<% halscount = course.hals.where("privacy != 0").size %>
						<%= link_to pluralize(halscount, " Blog entry", " Blog entries"), course_blogs_path(course), :class=>"link" %>
					<%- end %>
				</span>
				</p>
				</div>		
			</div>
			<div class="clear"></div>	
			<div class="box_2">
				<%= link_to "View Course", course %>
				<div class="clear"></div>
			</div>				
			<div class="clear"></div>
		<% end %>
		<%= will_paginate @courses %>

		<br />
		<div class="clear"></div>
		<br />
	<% end %>

	<%= link_to 'Create a Course', new_course_path, :class => 'button_head', :style => 'float:left; margin:0px' %>
</section>