<h1>Listing courses</h1>

<table>

<% @courses.each do |course| %>
  <tr>
    <td>id:<%= course.id %>
	<%= image_tag course.course_image.url(:thumb) if course.course_image.url%></td>
					    <td><%= link_to course.user.name, course.user if course.user %></td>
    <td><%= link_to course.name, course %></td>
    <td><%= raw short_description(course) %></td>
    <td>creator:<%= course.user_id %></td>
    <td><%= course.hals.where("privacy != 0").size %> entries about this course</td>
	<% followers = @followers[course.id.to_s] || 0  %>
	<td><%= link_to followers.to_s + " followers", course_people_path(course)  %> </td>

  </tr>
<% end %>
</table>

<%= will_paginate @courses %>

<br />

<%= link_to 'Create a New Course', new_course_path %>
