<% @title = "Course listing" %>

<div class="page"><h2>Course Listing</h2>
	<%= form_tag courses_path, :class => 'search', method: :get do %>
	    <%= text_field_tag :query, params[:query] %>
	    <%= submit_tag "Go", name: nil %>
	<% end %>
</div>
<div class="page3">
	<section>
	
	<% @courses.each do |course| %>
					
		<div class="box_holder borderbtm">
			<div class="title"><h3><%= course.name %></h3><span>&nbsp;</span></div>
			<div class="triangle"></div>
			<div class="box"><%= link_to image_tag(course.course_image.url(:thumb)), course if course.course_image.url%>
			<p>
				<span class="inn">
					<%- followers = @followers[course.id.to_s] || 0  %>
					<%- if followers.to_i > 1 %>
						People following: <%= link_to followers.to_s, course_people_path(course)  %>
					<%- end %>
					<%- if course.hals.where("privacy != 0").size > 0 %>
						<%- if followers.to_i > 0 %> | <% end %>
						 <a href="#" title="See Blog Entries" class="link"><%= course.hals.where("privacy != 0").size %> Blog Entries</a>
					<%- end %>
				</span>
				<%= shorten(course.overview, 400) %>
			</p>
			<p><span class="f">Date created: 2/2/14</span></p>
			</div>		
		</div>
		<div class="clear"></div>	
		<div class="box_2">
			<%= link_to "View Course", course %>
			<div class="clear"></div>
		</div>				
		<div class="clear"></div>
	<% end %>
	<%= will_paginate @courses %>

	<br />

	<%= link_to 'Create a New Course', new_course_path %>
	</section>

	<%= 
	# render :partial => 'shared/aside' 
	%>
				
</div>
