<h1>New course</h1>

First tell us about your course:
<BR><BR>


	<%= semantic_form_for(@course) do |f| %>
	  <% if @course.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

	      <ul>
	      <% @course.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

    <%= f.text_field :name %>
	  <%= f.inputs :overview, :about_the_author %>

	<%= f.input  :tag_list, :label => "enter comma separated tags" %>

	<div>course image:<br />
	<%= f.file_field :course_image %></div>

	  <%= f.actions %>

	  </div>
	<% end %>

