<%= render :partial => 'course_view' %>



<div class="span4">
	<strong>Course overview</strong>:  <BR>
	<%= image_tag @course.course_image.url(:medium) %>
	<%= @course.overview %>
</div>
<div class="span4">
	<strong>About the author</strong>
	<BR>
	<a href="<%= @course.user.avatar.url(:medium) %>"><%= image_tag @course.user.avatar.url(:small) %></a>
	<BR>
	<%= @course.about_the_author %>
	<BR>
	<strong>Tags: </strong>
	<%= render :partial => 'shared/tag_display', locals: {tags: @course.tags} %>
	<BR>
	<% if @course.external_site %>
		<strong>External site:</strong> <%= @course.external_site %>
		<BR>
	<% end %>
	
</div>

