<% @title = "Edit Course #{@course.name}" %>
<%= render :partial => 'course_edit' %>
<BR>

Course overview:  
<BR>


	<%= semantic_form_for(@course) do |f| %>
	  <% if @course.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

	      <ul>
	      <% @course.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
 

	  <%= f.input :name, :label => "Course Name" %>
	  <%= f.input :overview, :label => "Overview.  This will appear on the course listing page.  For details, especially for course followers, add those in the supplemental info area" %>
	  <%= f.input :about_the_author, :label => "About the author" %>
	
	This will help people find your course and easily see what it's about. You can add as many as you wish, but they should be relevant to your course.
	<%= f.input  :tag_list, :label => "enter comma separated tags" %>
	
	<%= image_tag @course.course_image.url(:medium) %>
	<div>new image:<br />
	<%= f.file_field :course_image %></div>



	  <%= f.actions %>

	  </div>
	<% end %>

