<%= render :partial => 'course_view' %>
<BR><BR>	


 <!-- <div class="row"> -->
<div class="span4">
	<strong>Plan</strong>:<BR>
		<% activty_map = get_activity_by_map(@course.strategy.current_activities) %>
	 <% activty_map.each do |key, activities| %>
<strong><%= @by || "Goal" %>: <%= key.nil? ? "" : key.title + "<BR>" %></strong>
	<% activities.each do |activity| %>
		<% if (activity.activity_sequence_id) %>
			Sequence starting with Activity: <%= link_to activity.title, course_plan_path(@course.id, activity.id) %>
		<% else %>	
				Activity:  <%= link_to activity.title, course_plan_path(@course.id, activity.id) %>
		<% end %>
		<% if activity == @activity %>
			 >>
		<% end %>
			<BR>
	<% end %>
	<% end %>
	<% if @course.user and @course.user == current_user %>
	<BR><BR>
		<%= link_to 'Add activity', add_activity_to_course_path(@course.id) %>
	<% end %>
	</ul>
</div>
<div class="span4">
	<% if @activity && @activity.activity_sequence_id %>
	 	<% @activity.activity_sequence.activities.each do |activity| %>		

		<%= activity.id %>
		Activity:  <%= link_to activity.title, show_activity_path(activity) %>
		<BR>
	<% end %>
	<BR>

	<% elsif @activity %>
		<b>Activity</b><BR>
		<strong>title</strong>:<%= @activity.title %><BR>
		<strong>description</strong>: <%= raw @activity.description %><BR>
		<strong>goal</strong>: <%= raw @activity.goal.title if @activity.goal %><BR>
		<strong>Timing:</strong><%= render :partial => 'strategies/timing' %>
		<BR>
		<strong>Tags: </strong>
		<%= render :partial => 'shared/tag_display', locals: {tags: @activity.tags} %>
		<BR>
			
		<% if @course.user and @course.user == current_user %>
		<BR><BR>
	    	<%= link_to 'Edit', edit_activity_path(@activity.id) %>
		<% end %>

		<% if @activity.type == "ActivityInSequence" %>
		<BR><b>Activities in the sequence:</b><BR>
			<% @activity.activity_sequence.activities.each do |activity_in_sequence| %>
				<%= activity_in_sequence.title %>
			<% end %>

		<% end %>

	<% end %>
</div>


