<%= stylesheet_link_tag "activities" %>


<%= link_to "Join Course", :controller => "courses", :action => "join", :id => @course.id %>


<%= link_to "entries", :controller => "courses", :action => "hals", :id => @course.id %>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>author:</b>
  <%= @course.user.name %>
</p>

<p>
  <b>Ppl following:</b>
<% @followers.each do |follower| %>
  <%= link_to follower.name, follower %><BR>
<% end %>
</p>

<p>
  <b>Description:</b>
  <%= raw @course.description %>
</p>

<p>
  <b> about the author:</b>
  <%= @course.about_the_author %>
</p>
<p>
  <b> published:</b>
  <%= @course.published %>
</p>

<p>
  <b>Strategy:</b>
</p>

<ul id="activities" data-update-url="<%= sort_activities_url %>">

 <% @course.strategy.activities.each do |activity| %>		

 <%= content_tag_for :li, activity do %>
 	<span class="handle">[drag]</span>
	Activity:  <%= link_to activity.title, show_activity_path(activity.id) %>
	<% if (current_user && (activity.user_id == current_user.id)) then %>
		<%= link_to 'Add activity to sequence', add_activity_to_sequence_path(activity) %>	
    	<%= link_to 'Edit', edit_activity_path(activity) %>
	    <%= link_to 'Delete', {:action => 'destroy', :controller => 'activities', :id => activity.id}, confirm: 'Are you sure?', method: :delete %>
	<% end %>
<% end %>

<% end %>
<BR>
	
<% if (current_user && current_user.id == @course.user.id) %>
<%= link_to 'Add activity', add_activity_to_course_path(@course.id) %>
<% end  %>

<BR><BR>


<% if current_user && current_user.id == @course.user.id %>
	<%= link_to 'share on fb', share_course_on_fb_path(@course) %> |

<%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>

<BR><BR>


------------------

HALS
<%= render :partial => 'hals/view_hal_list', locals: {hals: @hals, show_user: true} %>



<BR><BR>



