<%= stylesheet_link_tag "activities" %>


<% if current_user && current_user.id == @course.user.id %>
This is your course.  Care to...
<% if !@course.published? %>
	<%= link_to "publish course", publish_course_path(@course) %><BR>
<% end %>
	<%= link_to 'share on fb', share_course_on_fb_path(@course) if current_user.provider == "facebook"%> |
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %>

<BR><BR>


<%= link_to "Join Course", :controller => "courses", :action => "join", :id => @course.id %>


<%= link_to "entries", :controller => "courses", :action => "hals", :id => @course.id %>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>author:</b>
  <%= link_to @course.user.name, @course.user %>
</p>

<p>
  <b>Ppl following:</b>
<% @followers.each do |follower| %>
  <%= link_to follower.name, follower %><BR>
<% end %>
</p>

<p>
  <b>Description:</b>
  <%= raw @course.description %>
</p>

<p>
  <b> about the author:</b>
  <%= @course.about_the_author %>
</p>
<p>
  <b> published:</b>
  <%= @course.published %>
</p>

<p>
  <b>Plan:</b>
</p>

<ul id="activities" data-update-url="<%= sort_activities_url %>">

 <% @course.strategy.current_activities.each do |activity| %>		

 <%= content_tag_for :li, activity do %>
	Activity:  <%= link_to activity.title, show_activity_path(activity.id) %>
	<% if (activity.activity_sequence_id) %>
	<%= link_to 'view sequence', activity_sequence_path(activity.activity_sequence_id) %>		
	<% end %>
<% end %>

<% end %>
<BR>
	




------------------

<%= render :partial => 'hals/view_hal_list', locals: {hals: @hals, show_user: true, commenting: true} %>



<BR><BR>



