<strong>Commitment marks:</strong><BR>
	<div id="calendar" class='table'>
	  <h3 id="month">
		<% if nav_month %>
			<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
		    <%=h @date.strftime("%B %Y") %>
	    	<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
		<% else %>
			<% @date =  Date.today %>
			<%=h @date.strftime("%B %Y") %>    
		<% end %>
	  </h3>
	  <%= calendar_for activity.commitment_marks, :year => @date.year, :month => @date.month do |calendar| %>
		<%= calendar.head('Sun','Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Sat') %>
	    <% calendar.day(:day_method => :done_date) do |date, cmss| %>
	      <%= date.day %>	<% for cm in cmss %>
			<%= image_tag("/images/check1.png", :height => '20')  %>
			<% break %>
			<% end %>
		
	      <ul>
			<table>
				<% for cm in cmss %>
				<!-- <tr bgcolor="aqua" height=2px><td>donex<%= image_tag("/images/check.png")  %></td></tr>				 -->
				<% end %>
			</table>
	      </ul>
	    <% end %>
	  <% end %>
	</div>
