Commitment marks:<BR>
	<div id="calendar" class='table'>
	  <h2 id="month">
		<% if nav_month %>
			<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
		    <%=h @date.strftime("%B %Y") %>
	    	<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
		<% else %>
			<% @date =  Date.today %>
			<%=h @date.strftime("%B %Y") %>    
		<% end %>
	  </h2>
	  <%= calendar_for activity.commitment_marks, :year => @date.year, :month => @date.month do |calendar| %>
		<%= calendar.head('Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
	    <% calendar.day(:day_method => :done_date) do |date, cmss| %>
	      <%= date.day %>
	      <ul>
			<table>
				<% for cm in cmss %>
				<tr bgcolor="aqua" height=2px><td>done</td></tr>
				<% end %>
			</table>
	      </ul>
	    <% end %>
	  <% end %>
	</div>
