<% myp = (defined?(myp) and myp)? true : false %>

<div class="clear"></div>
<div class="show">
	<% if myp %>	
		<div class="edit margin5" <% if first %>data-intro="You can modify all activities, whether you created them of they're from a course you joined.  This allows your plan to truly be yours." data-step='8'<% end %>>		
				<%= link_to "Edit", edit_activity_path(activity), :class=>"linkTwo" %>
			</div>				

		<div class="edit3a" <% if first %>data-intro="Another way to customize your plan is deleting activities, whether you created them or they're part of a course." data-step='9' <% end %>>
			<% if activity.type == "ActivityInSequence" %>
		       <%= link_to "Delete Activity", activity.activity_sequence, confirm: 'This will delete all the activities in the sequence.  Are you sure?', method: :delete, :class=>"linkThree" %>
			<% else %>
		       <%= link_to "Delete Activity", activity, confirm: 'This will delete the activity.  Are you sure?', method: :delete, :class=>"linkThree" %>
			<% end %>
			</div>
	<% end %>
	
	<!-- for my plan: edit, delete, move in AS -->
	<% if myp %>
		<div class="edit"  <% if first %>data-intro="You can blog about any activity.  Simply click here, enter your thoughts/feelings, or let your pet walk on the keyboard." data-step='10' <% end %>>
			<%= link_to "Blog about", new_hal_path(activity.id)  %>
		</div>
		<div class="edit3a margin3" <% if first %>data-intro="If you've committed to activities, it's nice to keep track of when you do them, especially recurring ones.  Whenever you do an activity mark it here.  You can see the calendar of when you've done them later" data-step='11' <% end %>> 			<%= link_to 'Did today', {:controller => "commitment_marks", :action => "add_commitment_mark_to_activity", :activity_id => activity.id}, :remote => true %>
		</div>

	<div class="clear"></div>
	
		<% if activity.type == "ActivityInSequence" and activity.activity_sequence.has_previous? %>
			<%= link_to "<< previous", :controller => "ActivitySequences", :action => "set_previous", :id => activity.activity_sequence.id %>
		<% end %>

		<% if activity.type == "ActivityInSequence" and activity.activity_sequence.has_next? %>
			<%= link_to "next >>", :controller => "ActivitySequences", :action => "set_next", :id => activity.activity_sequence.id %>
		<% end %>
	<% end %>
	<!-- end for my plan: edit, delete, move in AS -->
	
<h5><strong>Title:</strong><%= link_to activity.title, activity %></h5><BR>
<% if activity.course_id and myp %> From course: <%= link_to activity.course.name, activity.course %> <% end %>
<BR>
<strong>Description</strong>
<p>
	<%= sanitize activity.description %>
</p>
<% if !activity.customization.nil? %> <p>Customization: <%= activity.customization %></p><% end %>
<p><span class="bold">Timing:</span><%= render :partial => 'strategies/timing', locals: {activity: activity} %>
<BR></p>

	<div class="clear"></div>
	<% if activity.commitment_marks.size > 0 %>
		<%= render :partial => 'strategies/activity_cm', locals: {activity: activity, nav_month: false} %>
		<%= link_to 'View All marks', mycms_path if myp %>
	<% else %>	
		You don't have any commitment marks for this activity.  
		<% if activity.kind_of_timing != "Reactive" %>Do it and <%= link_to 'log it!', :controller => "commitment_marks", :action => "add_commitment_mark_to_activity", :activity_id => activity.id %><% end %>	
	<% end %>
	<div class="clear"></div>


<% if activity.type == "ActivityInSequence" and activity.activity_sequence.has_previous? %>
	<%= link_to "<< previous", :controller => "ActivitySequences", :action => "set_previous", :id => activity.activity_sequence.id %>
<% end %>

<% if activity.type == "ActivityInSequence" and activity.activity_sequence.has_next? %>
	<%= link_to "next >>", :controller => "ActivitySequences", :action => "set_next", :id => activity.activity_sequence.id %>
<% end %>

<BR>
	
									
<% if myp %>
	<% if activity.type == "ActivityInSequence" %>
		<% if activity.activity_sequence.activities.size < 10 %>
		<BR><b>Activities in the sequence:</b><BR>
			<% activity.activity_sequence.activities.each do |activity_in_sequence| %>
				<%= link_to activity_in_sequence.title, activity_in_sequence %>		
				<% if activity.activity_sequence.current_activity != activity_in_sequence %>
				<%= link_to "set as active", :controller => "ActivitySequences", :action => "make_current", :id => activity_in_sequence.activity_sequence.id, :activity_id => activity_in_sequence.id %>
				<% else %> << Current
				<% end %><BR>
			<% end %>
		<% else %>
		<%= link_to 'See all activities in this sequence', activity %>
		<% end %>

	<% end %>


	<% activity.hals.each do |hal| %>
		<div class="box_holder3 width100">
			<%= render :partial => 'hals/single_hal', locals: {hal: hal} %>					
		</div>
		<div class="clear"></div>
	<% end %>
<% end %>
</div>