<div class="clear"></div>
<div class="show">
	<%= link_to 'Edit Activity', edit_activity_in_course_path(activity), :class => "bluebuttonpadded" %>
		<div class="edit_box" id="rightbar2">
            <div class="close"><a href="#"><img class="linkTwo" src="/images/close.png" alt=""></a></div>
		</div>
		<% if activity.type == "ActivityInSequence" %>
	       <%= link_to "Delete Activity", activity.activity_sequence, confirm: 'This will delete all the activities in the sequence.  Are you sure?', method: :delete, :class => "bluebuttonpadded" %>
		<% else %>
	       <%= link_to "Delete Activity", activity, confirm: 'This will delete the activity.  Are you sure?', method: :delete, :class => "bluebuttonpadded" %>
		<% end %>
	
		<div class="clear"></div><BR>
	
<h5><%= link_to activity.title, activity %></h5><BR>
<div class='boxed'><%= sanitize activity.description %></div>
<% if !activity.customization.empty? %> <p>Customization: <%= activity.customization %></p><% end %>
<% if activity.kind_of_timing != "Other" %><p><span class="bold">Timing:</span><%= render :partial => 'strategies/timing', locals: {activity: activity} %> <% end %>
<BR></p>
	
	<% if activity.activity_sequence_id %>
		Activities in sequence:<BR>
		<ul id="activities" data-update-url="<%= sort_activity_sequences_url %>">
		 <% activity.activity_sequence.activities.each do |activity| %>		
			 <%= content_tag_for :li, activity do %>
				<span class="handle">[drag]</span>
				<%= activity.id %>
				Activity:  <%= link_to activity.title, show_activity_path(activity) %>
		    	<%= link_to 'Edit', edit_activity_in_course_path(activity.id) %>
			    <%= link_to 'Delete', activity, confirm: 'Are you sure?', method: :delete %> 
			<% end %>
		<% end %>
		</ul>
		<BR>
		<%= link_to 'Add a sequential chapter', 	add_activity_to_sequence_path(activity.activity_sequence.activity_in_sequences.first) %>	
		<BR>	<%= link_to 'manage sequence', activity.activity_sequence %>
	<% else %>
		<BR>
		<%= link_to 'Add activity to sequence', add_activity_to_sequence_path(activity) %>	<BR>
		<%= link_to 'edit', edit_activity_in_course_path(activity) %> |
	    <%= link_to 'Delete', {:action => 'destroy', :controller => 'activities', :id => activity.id}, confirm: 'Are you sure?', method: :delete %>
	<% end %>

</div>