
	<script type="text/javascript">
		$(document).ready(function() {
			$("li").click(function(){
				$(this).toggleClass("active");
				$(this).next("div").stop('true','true').slideToggle("slow");
			});
			<% if @activity %>
				showdiv('<%= @activity.id %>');
			<% end %>
		});
		function showdiv(a) {
			inanimateshowdiv(a);
			$(document.body).animate({
			    'scrollTop':   $('#'+a).offset().top
			}, 500);
		}
		
		function inanimateshowdiv(a) {
			$('.content').hide();
			$('#'+a).toggle('slow');
		}
	</script>
				<div class="left_bar width94">
					<% if myp %>		
					<div class="box_holder3 width100">
						<div class="title"><h3>My Plan</h3></div><br/>
						<!--<div  class="edit4"><a href="#">Show customization</a></div>-->
						<% end %>							
						<div class="clear"></div>
						<div class="toggle">
							<ul>
								
								
								<li class="lft" data-intro='This is your plan.  All the activities in your plan organized by goal and course' data-step='4'>
									<ul>

<% activty_map = get_activity_by_goal_or_course(strategy.current_activities) %>
<% if activty_map.size > 0 %>
	<% activty_map.each do |key, activities| %>
		<li class="column_a"><h4><%= key.nil? ? "none" : key %></h4></li>
		<li class="column_b">
		<% activities.each do |activity| %>
					<ul>		
						<li class="" onClick="showdiv('<%= activity.id %>');"  <% if activity == strategy.current_activities.first %>data-intro='This is an activity in your plan.  You can click on it to view details' data-step='5' <% end %>>
										<%= activity.title %> - <%= render :partial => 'strategies/timing', locals: {activity: activity} %>
								
						<% if myp %>		
							<div class="plus" id="ss<%= activity.id %>"  style="float:right; position:relative;"><a href="#"><img src="/images/plus1.png" alt=""></a>
							   <div id="Detailsss<%= activity.id %>" class="plus_details" style="display: none;">
							     <ul>
							       <li><%= link_to "Blog about", new_hal_path(activity.id)  %></li>
							       <li><%= link_to 'Did today', {:controller => "commitment_marks", :action => "add_commitment_mark_to_activity", :activity_id => activity.id}, :remote => true %></li>
								<li><%= link_to 'Edit', edit_activity_path(activity) %></li>
								<% if activity.type == "ActivityInSequence" %>
							       <li><%= link_to "Delete Activity", activity.activity_sequence, confirm: 'This will delete all the activities in the sequence.  Are you sure?', method: :delete %></li>
								<% else %>
							       <li><%= link_to "Delete Activity", activity, confirm: 'This will delete the activity.  Are you sure?', method: :delete %></li>
								<% end %>
							     </ul>
							   </div>
						  </div>
						<% end %>
						</li>
					</ul>
		<% end %>
	</li>
	<div class="clear"></div>
	<% end %>
<% end %>
</ul>
<% if myp %>	
	<div class="clear"></div>
          <div class="box_3" data-intro='If you wish to add activities, you can add one from scratch or look for a course you could join' data-step='6'>
		<%= link_to 'Add activity', add_activity_path, :class => 'green' %>
		<%= link_to 'Look for courses', courses_path %>
            	<div class="clear"></div>
          </div>
<% end %>
          				
</li>
<li class="rgt">
<% strategy.current_activities.each do |activity| %>
	<% first = false
	first = true if activity == strategy.current_activities.first %>
	<div id="<%= activity.id %>" class="content" style="display:none;" <% if first %> data-intro='Activity details are here.  View and manage them here.  You can click on the activity name to see more details if there are any.' data-step='7'<% end %>>
		<%= render :partial => 'strategies/plan_activity', locals: {activity: activity, first: first, myp: myp} %>
	</div>
<% end %>
</li>	
	</ul>
		</div>
	</div>
	<% if myp %>			
</div>
	<% end %>
	<div class="clear"></div>
