<div class="float_rgt"><img src="/images/close.png" alt="close" title='<%= activity.id %>' class="linkOne closebtn">
</div>

<strong>Description</strong>: <%= raw activity.description %><BR>
<% if activity.from %> Copied from: <%= link_to activity.from.title, activity.from  %> <% end %>
	<BR>
<%= render :partial => 'strategies/timing', locals: {activity: activity} %>
<BR>
<% if !activity.tags.blank? %>
<strong>Tags: </strong>
<%= render :partial => 'shared/tag_display', locals: {tags: activity.tags} %>
<% end %>

<% if activity.commitment_marks.size > 0 %>
<BR>
<%= render :partial => 'activity_cm', locals: {activity: activity} %>
<BR>
<% else %>	
	You don't have any commitment marks for this activity.  
	<% if activity.kind_of_timing != "Reactive" %>Do it and log it!<% end %>	
<% end %>

<%= render :partial => 'hals/hal_list', locals: {hals: activity.hals.first(3), show_user: false, commenting: false, title: "My Entries"} %>

<%= render :partial => 'hals/hal_list', locals: {hals: activity.related_hals.first(3), show_user: true, commenting: true, title: "Related Entries"} %>

<% if activity.hals.size > 1 or activity.related_hals.size > 3 %>
	<div class="edit padding10"><%= link_to "View more entries", show_activity_path(activity) %></div>
<% end %>