<%= stylesheet_link_tag "activities" %>

<BR>
description: <%= strategy.description %>
<BR>
	Activities:<BR>

<ul id="activities" data-update-url="<%= sort_activities_url %>">
<% strategy.activities.each do |activity| %>


	<li class="activity" id="activity_<%= activity.id %>">
	  	<span class="handle">[drag]</span>

		<%= link_to image_tag("/images/checkmark.png", :size => "15x18", :title => "Did today"), :controller => "commitment_marks", :action => "add_commitment_mark_to_activity", :activity_id => activity.id %>&nbsp;&nbsp;
		<%= link_to image_tag("/images/delete_small.jpg", :size => "20x20", :title => "Delete Activity"), activity, confirm: 'This will delete the activity.  Are you sure?', method: :delete %>

		<% if activity.type == "ActivityInSequence" and activity.activity_sequence.has_previous? %>
			<%= link_to "previous", :controller => "ActivitySequences", :action => "set_previous", :id => activity.activity_sequence.id %>
		<% end %>

		Activity:	<%= activity.id %> -- <%= link_to activity.title, mypd_path(activity.id) %>
		<% if activity.type == "ActivityInSequence" and activity.activity_sequence.has_next? %>
		<%= link_to "next", :controller => "ActivitySequences", :action => "set_next", :id => activity.activity_sequence.id %>
		<% end %>

		<%= link_to "add entry about", hal_about_activity_path(activity.id)  %>

	</li>


<% end %>


</ul>
