<% @title = "My Plan" %>

<div class="page"><h2>My Plan</h2></div>
	<div class="page3">
		<section>
			<div class="left_bar">
	 <%= raw myp_status %> 
	    	<% if !current_user.strategy.current_activities.empty? %>
				<%= render :partial => 'view_one', locals: {strategy: current_user.strategy} %>
				<%= link_to 'Add activity', add_activity_path %>
			<% end %>
			</div>
			<div class="right_bar">
				 <%= render :partial => 'hals/hal_list', locals: {hals: @current_user.hals, title: 'ha', show_user: true} %>
			</div>
		</section>
		<%= render :partial => 'shared/aside' %>
	</div>
 </div>
