
  <div class="row">
    <div class="span4">
		plan:<BR>
		<%= render :partial => 'view_one', locals: {strategy: current_user.strategy} %>
		<%= link_to 'Add activity', add_activity_path %>
		</div>
<div class="span4">


<BR><BR>

current activity:
title:<%= @activity.title %><BR>
description: <%= raw @activity.description %><BR>
<%= link_to 'edit activity', edit_activity_path(@activity) %>
<BR>
from:<%= @activity.from_id %><BR>
<% if @course %>
from course <%= link_to @course.name, @course %><BR>
<% elsif @from_user_activity %>
from user <%= @from_user_activity.name %>
<% end %>
<%= render :partial => 'timing' %>
<BR>
<%= link_to 'blog about', hal_about_activity_path(@activity.id) %>

<BR><BR>
<% if @activity.type == "ActivityInSequence" and @activity.activity_sequence.has_previous? %>
	<%= link_to "<< previous", :controller => "ActivitySequences", :action => "set_previous", :id => @activity.activity_sequence.id %>
<% end %>

<% if @activity.type == "ActivityInSequence" and @activity.activity_sequence.has_next? %>
	<%= link_to "next >>", :controller => "ActivitySequences", :action => "set_next", :id => @activity.activity_sequence.id %>
<% end %>



<!-- overlayed element -->
<div class="apple_overlay" id="overlay">
  <!-- the external content is loaded inside this tag -->
  <div class="contentWrap"></div>
</div>

<script>
$(function() {
 alert("fsdfs");
 
    // if the function argument is given to overlay,
    // it is assumed to be the onBeforeLoad event listener
    $("a[rel]").overlay({
 
        mask: 'darkred',
        effect: 'apple',
 
        onBeforeLoad: function() {
 alert("fsdfs");
            // grab wrapper element inside content
            var wrap = this.getOverlay().find(".contentWrap");
 
            // load the page specified in the trigger
            wrap.load(this.getTrigger().attr("href"));
        }
 
    });
});
</script>


<% if @activity.type == "ActivityInSequence" %>
<BR><b>Activities in the sequence:</b><BR>
	<% @activity.activity_sequence.activities.each do |activity_in_sequence| %>
		<%= activity_in_sequence.title %>
		<!-- another link. uses the same overlay -->
		<div id="fsd" href="http://www.google.com" rel="#overlay" style="text-decoration:none">
		  <button type="button">Show another page</button>
		</div>
		
		<%= link_to "set as active", :controller => "ActivitySequences", :action => "make_current", :id => activity_in_sequence.activity_sequence.id, :activity_id => activity_in_sequence.id if @activity.activity_sequence.current_activity != activity_in_sequence %><BR>
	<% end %>

<% end %>

<% if @activity.commitment_marks.size > 0 %>
<BR>
	
Commitment marks:
	<div id="calendar">
	  <h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
	    <%=h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
	  </h2>
	  <%= calendar_for @activity.commitment_marks, :year => @date.year, :month => @date.month do |calendar| %>
		<%= calendar.head('Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
	    <% calendar.day(:day_method => :done_date) do |date, cmss| %>
	      <%= date.day %>
	      <ul>
			<table>
				<% for cm in cmss %>
				<tr bgcolor="000000" height=2px><td>done</td></tr>

				<% end %>
			</table>
	      </ul>
	    <% end %>
	  <% end %>
	</div>
	
<BR>
<% end %>	
<hr>
<BR><BR><BR>
<strong>Related Entries:</strong>


<BR>

	<% if @activity.hals.size > 0 %>
<BR><BR>	<%= @activity.hals.size %> entries from you about this:<BR>
	<%= render :partial => 'hals/view_hal_list', locals: {hals: @activity.hals.each, show_user: false} %>
	
	<% end %>
	
	<% if @related_hals_activity.size - @activity.hals.size > 0 %>
		<BR><BR>
		Entries about this:
		<BR>
		<%= render :partial => 'hals/view_hal_list', locals: {hals: @related_hals_activity, show_user: true} %>
	<% end %>
	
	
    </div>
  </div>



