<%= addcustomjs 'ckeditor/init' %>
<%= addcustomjs 'ckeditor/config' %>

<%= semantic_form_for @activity.becomes(Activity), :html => {:class => "course_manage"}  do |f| %>
	<% if @activity.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

	    <ul>
	    <% @activity.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>


	<div class="row">
		<label>Title</label><%= f.text_field  :title%>
	</div>

	<div class="row">
		<%= f.input :goal,  :collection => get_goals_for_strategy(current_user.strategy), :prompt => "Select a Goal"  %>
		<div class="clear"></div>
		<label>Or create new</label><%= f.text_field :new_goal_text %>
	</div>
	<div class="clear"></div>

	<div class="row">
	<%=   f.input :kind_of_timing,  :as => :select,      :collection => ["Reactive", "One time", "Frequency", "Whenever" ], :default => "One time" %>
	</div>
	<div class="clear"></div>

	<div class="row">
		<div id='freak'>
			<label>Timing Frequency</label><%= f.text_field :freak_number %> times per <%= f.select :freak_interval, ["Day", "Week", "Month"] %>
		</div>
	</div>

	<div class="row">
		<div id='react'>
			<label>When the following occurs:</label><%= f.text_field :reactive_expression %>
		</div>
	</div>
	<div class="clear"></div>

	<div class="row">
		<table>
			<tr>
				<td><label>Until</label></td>
				<td><%= f.radio_button :until_radio, "date" %><div id='duration_label'><label>by</label></div><%= f.text_field :timing_until %></td>
			</tr>
			<tr>
				<td><td>
				<td>	<%= f.radio_button :until_radio, "nodate" %>	
						<%= label :until_radio, "No end date" %></td>
			</tr>
		</table>
	</div>
	<div class="clear"></div>
	

	<div class="row">
		<%= f.input  :tag_list, :label => "enter comma separated tags" %>
	</div>
	<div class="clear"></div>

	<div class="row">
	<label>Enter Activity Description:</label>
	<div class="clear"></div>
	<%= f.text_area :description, :class => 'ckeditor' %>
	</div>
	<div class="clear"></div>

	<div class="row">
		<%= f.submit %>
		<%= submit_tag 'Cancel', :name => 'cancel' %>
	</div>
<% end %>


