<div class="page"><h2><%= @activity.title %></h2></div>
<div class="page3">
	<section>
		<div class="box_holder3 width100">


<% if @activity.goal %><strong>Goal</strong>: <%= @activity.goal.title %> <% end %>
<% if @activity.strategy and @activity.strategy.course %>
	Part of course <%= link_to @activity.strategy.course.name, @activity.strategy.course %><BR>
<% elsif @activity.user and !@activity.activity_sequence_id %>
	In <%= link_to @activity.user.name, @activity.user %>'s plan<BR>
<% end %>

<strong>description</strong>: <%= raw @activity.description %><BR>

<% if @activity.from %>
	<strong>From</strong>:<%= link_to @activity.from.title, @activity.from  %><BR>
<% end %>

<%= render :partial => 'strategies/timing', locals: {activity: @activity} %><BR>
<%= render :partial => 'shared/tag_display', locals: {tags: @activity.tags} %><BR>
<BR>
<% if (current_user && (@activity.user_id == current_user.id)) then %>
	<%= link_to 'Edit', edit_activity_path(@activity) %> 
<% end %>


<%= render :partial => 'hals/hal_list', locals: {hals: @hals, title: 'Owner entries', show_user: true} %>

<%= render :partial => 'hals/hal_list', locals: {hals: @related_hals, title: 'Related entries', show_user: true} %>

		</div>
	</section>
	<%= render :partial => 'shared/aside' %>
</div>