<div class="page"><h2>Activity: <strong><%= @activity.title %></strong> <% if @activity.course %> from course <%= @activity.course.name %> <% end %></h2></div>
	<div class="page3">
		<section>
<% if (current_user && (@activity.user_id == current_user.id)) then %>
	<div class="box_3"><%= link_to 'Edit', edit_activity_path(@activity), :class => 'green' %>
	<%= link_to 'Blog about it', new_hal_path(@activity.id) %>
	</div>
<% end %>

<div class="clear"></div>
<% if @activity.strategy and @activity.strategy.course %>
Part of course <%= link_to @activity.strategy.course.name, @activity.strategy.course %><BR>
<% elsif @activity.user and !@activity.activity_sequence_id %>
In <%= link_to @activity.user.name, @activity.user %>'s plan
<% end %>

<BR><BR>
<strong>Title</strong>:<%= @activity.title %>
<BR>
<strong>Description</strong>: <%= sanitize @activity.description %>
	<BR>
<strong>Timing:</strong> <%= render :partial => 'strategies/timing', locals: {activity: @activity} %>
<BR>
<%= render :partial => 'shared/tag_display', locals: {tags: @activity.tags} %>
<BR>
<% if @activity.from %> Copied from: <%= link_to @activity.from.title, @activity.from  %> <% end %>

		<div class="clear"></div>
		<% if @activity.commitment_marks.size > 0 %>
			<%= render :partial => 'strategies/activity_cm', locals: {activity: @activity, nav_month: true} %><BR>
		<% else %>	
			You don't have any commitment marks for this activity.  
			<% if @activity.kind_of_timing != "Reactive" %>Do it and <%= link_to 'log it!', :controller => "commitment_marks", :action => "add_commitment_mark_to_activity", :activity_id => @activity.id %><% end %>	
		<% end %>


<% if @activity.type == "ActivityInSequence" %>
	<BR><b>Activities in the sequence:</b><BR>
		<% @activity.activity_sequence.activities.each do |activity_in_sequence| %>
			<%= link_to activity_in_sequence.title, activity_in_sequence %>		
			<% if @activity.activity_sequence.current_activity != activity_in_sequence and activity_in_sequence.user == current_user %>
			<%= link_to "set as active", :controller => "ActivitySequences", :action => "make_current", :id => activity_in_sequence.activity_sequence.id, :activity_id => activity_in_sequence.id %>
			<% else %> << Current
			<% end %><BR>
		<% end %>

<% end %>

<div class="clear"></div>

<% if @hals.size > 0 %>
	<strong>hals</strong>:<BR>
<% end %>
<% @hals.each do |hal| %>
<div class="box_holder3 width100">
	<%= render :partial => 'hals/single_hal', locals: {hal: hal} %>					
</div>
<hr>
<% end %>

<% if @related_hals.size > 0 %>
	<BR>
	<b>Related Hals:</b>
	<BR>
	<% @related_hals.each do |hal| %>
		<%= render :partial => 'hals/view_one', locals: {hal: hal, show_user: true} %>
		<hr>
	<% end %>
<% end %>


	</section>
	<%= render :partial => 'shared/aside' %>
	
	</div>
</div>
