<% @title = "Getting Started - Create a course" %>

<div class='boxed'>
	<div class="clear"></div>
	<BR>
You can create a course by going to <%= link_to 'create a course', create_course_path %>.
<BR><BR>
Enter all the information in the overview and then create a plan.  This will consist of one or more activities.  You can look at the <%= link_to "listed courses", courses_path %> for examples of plans.
<BR><BR>
The <strong>activities</strong> can be all at the same time (e.g. <%= link_to "The Four Agreements", 'http://www.melearni.ng/courses/14' %> where you abide to each agreement hopefully in every moment), or sequential (e.g. <%= link_to "the 8 week beginner's running program", "http://www.melearni.ng/courses/16" %> or <%= link_to "A Course In Miracles", "http://www.melearni.ng/courses/15" %> where you focus on an activity before moving to the next).
<BR>
	Activities can be
	<ul>
		<li>Reactive:  In reaction to something external or internal.  For example journal when I feel angry</li>
		<li>Frequency:  Do something a few times per time period.  For example do a new activity of <%= link_to "A Course In Miracles", "http://www.melearni.ng/courses/15" %> each day.  Or run 3 times per week.</li>
		<li>One time:  If it's something to do once and you're done.  For example "Create a meal plan" in a weight loss course.</li>
		<li>Other:  Anything that doesn't fall into one of the previous.</li>
	</ul>

<BR>
The details section of the course is where you can add all extra information you'd like people to see.  Since it won't be in their plan they won't see it regularly though.  You can be as lengthy as you'd like here.
<BR>
	
<BR>
	<strong>Publishing a course</strong><BR>
		Once you're comfortable with your course you can publish it, which means you can then invite others to join it.  It will also send a request to be listed on the site.  Send people the URL of your course when you invite them.  You can continue changing the contents of your course after it's published.  Even after people have joined it.  Just keep in mind people will not see the updates to the activities in their plan as those were copied earlier.  <BR>
			
<BR>
	<strong>Blogs</strong><BR>
		We recommend you check the blog posts, specifically when people have checked 'help.'  You can comment on their entries to provide any insights that would be helpful.
<BR>	
</div>