<% @title='Getting Started' %>


<p style="font-family:serif; font-size:16px">As a member of meLearning you have a <strong><%= link_to "plan", :myp %></strong> with <strong>activities</strong> in it.</p>

<p style="font-family:serif; font-size:16px">You either have a simple tutorial course or a course you joined in your plan.<br /><br />
<strong><span style="font-family:serif; font-size:18px">What do you with these activities?</span></strong></p>

<ul>
	<li><strong>Mark as done</strong>: &nbsp;Whether it's a recurring activity or a one time thing, you can mark any activity as &quot;done today.&quot; &nbsp;You can then see when you've done them and how you're holding up to your commitment to yourself. &nbsp;Whether your activity is &quot;Run every morning&quot; or &quot;Eat the best chocolate you can get your hands on when upset,&quot; mark it every time you do it.</li>
	<li><strong>Modify</strong>: &nbsp;Change them to suit your individual situation if that's applicable. &nbsp;For instance if you have an activity to run three times a week, but you only want to commit to twice a week, set the new frequency. &nbsp;You can change the title, the description or any other field; it will still be linked to the original and others with that activity can see your blog entries and vice versa.</li>
	<li><strong>Blog</strong>: &nbsp;Write entries about your activities when you've done them or feel like writing something (such as: &quot;I can't get off the couch and run&quot; or &quot;I'm no longer sore the day after a run&quot;). &nbsp;You can view all your blog entries <%= link_to 'here', :view_hals %>. &nbsp;Whenever you have insights you want to record, write that in the insight field. &nbsp;Later you can see all of your insights in one <%= link_to "place", :hals_my_insights %> . &nbsp;If you're struggling with anything you can check &quot;help requested.&quot;</li>
	<li><strong>Check out</strong>: &nbsp;How are others doing with these activities or how have they modified them? &nbsp;You can see blog entries for your courses in the <%= link_to 'course blogs section', :hals_my_courses %></li>
	<li><strong>Help</strong>: &nbsp;If others have written blog entries about an activity you have in your plan you'll see them when you view that activity. &nbsp;If they're confused or struggling you'll see the help wanted sign. &nbsp;Feel free to offer any guidance or encouragement you can provide in the comments. &nbsp;In the <%= link_to 'blogs help requested section', :hals_help_wanted %> you can also see everyone requesting guidance.</li>
</ul>

<p style="font-family:serif; font-size:16px"><br />
<span style="font-family:serif; font-size:18px"><strong>Add activities for yourself</strong></span><br />
&nbsp;&nbsp;&nbsp;&nbsp;Anything you currently do could be added to your plan, whether it's a spiritual practice, a hobby, something you're learning or some physical training. As a matter of fact, you're twice as likely to achieve your goals with a training plan.<br />
From the <%= link_to "my Plan", :myp %> page, click add activity and save it. &nbsp;You can now mark it as done, and blog about it.</p>

<p style="font-family:serif; font-size:18px"><br />
<span style="font-family:serif; font-size:16px"><strong>Create a course</strong><br />
&nbsp;&nbsp;&nbsp;&nbsp;If you'd like to create a plan you can share with others, create a course, publish it, and invite people to join it. &nbsp;Information on creating a course can be found &nbsp;<%= link_to 'here', :gettingstartedcreate %>.</span></p>

