<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><%= if @title then @title else "me-Learning" end %></title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>

</head>


<body>
	<!-- <%= image_tag "/images/meltextfinal.png" %> -->
	<%= image_tag "/images/lobehold.png" %><BR>
	<%= link_to 'My Plan', myp_path %> | <%= link_to 'My Blog', '/hals/view_mine' %> | 	<%= link_to 'my follows', following_path %> |	<%= link_to 'help wanted', help_wanted_path %>
<% if (current_user && current_user.courses.size>0) %>
	| <%= link_to 'my courses', my_created_courses_path %>
<% end %>

<% if (current_user && current_user.get_following_courses.size>0) %>
	<% 	current_user.get_following_courses.each do |course| %>
	| (enrolledin:<%= link_to course.name, course %>)
	<% end %>
<% end %>


<%= link_to 'create course', create_course_path %>
<%= link_to 'courses', courses_path %>

<%= link_to 'users', users_path %>
<%= render :partial => "shared/user_bar" %>
<%= image_tag current_user.avatar.url(:thumb) if (current_user and current_user.avatar.url(:thumb)) %>


<div id="maincontent2">
	<% if flash[:partial] %>
		<%= render :partial => "shared/flashes/#{flash[:partial]}" %>
	<% else %>
		<p id="notice"><%= notice %></p>
	<% end %>
	<p id="notice"><%= flash[:alert] %></p>
	<%= yield %>
</div>

<br><br>
<div id="footer">
	<%= link_to "EULA", "/eula.html" %> | <%=  %>
</div>
<BR>
<!-- debug -->
<% if Rails.env == "development" %>
  <div id="footnotes_holder">
  </div>
  <%= render :partial => 'shared/debug' %>
<% end %>

</body>
</html>