<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Your Sitename</title>

<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>


<body>
	<!-- <%= image_tag "/images/meltextfinal.png" %> -->
	<%= image_tag "/images/lobehold.png" %>
	<%= link_to 'Home', root_path %>  |
	<%= link_to 'My Plan', myp_path %> | <%= link_to 'My Blog', '/hals/view_mine' %></li> 
<% if (current_user && current_user.courses.size>0) %>
<%= link_to 'my courses', my_created_courses_path %></li>
<% end %>
<%= link_to 'create course', create_course_path %></li>
<%= link_to 'courses', courses_path %></li>
<%= link_to 'help wanted', help_wanted_path %></li>
<%= link_to 'users', users_path %></li>
<%= link_to 'my follows', following_path %></li>
<%= render :partial => "shared/user_bar" %>
<%= image_tag current_user.avatar.url(:thumb) if (current_user and current_user.avatar.url(:thumb)) %>


<div id="maincontent2">
	<% if flash[:partial] %>
	<%= render :partial => "shared/flashes/#{flash[:partial]}" %>
	<% else %>
	<p id="notice"><%= notice %></p>
	<% end %>
	<p id="notice"><%= flash[:alert] %></p>
	<%= yield %>
</div>

<div id="footer">
link1 | link2
</div>
<BR>
<!-- debug -->
<% if Rails.env == "development" %>
  <div id="footnotes_holder">
  </div>
  <%= render :partial => 'shared/debug' %>
<% end %>

</body>
</html>