<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><%= if @title then @title else "me-Learning" end %></title>
<meta name="viewport" content="width=device-width" />

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->

<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script> -->
<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->

<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<script type="text/javascript">
Shadowbox.init({
language: 'en',
players: ['img', 'html', 'iframe', 'qt', 'wmp', 'swf', 'flv']
});
</script>
<%= yield(:head_js) %>

</head>


<body>
	<div id="body_frame">
		<div class="wrapper">
	
		<header>						
			<%= render :partial => "shared/menu_bar" %>
		<div class="clear"></div>
			  <div class="info"></div>		
	<% flash.each do |name, msg| %>
		<% if name == :notice %>
			  <div class="notification">
		    <%= msg %>
		  </div>
		<% elsif name == :error %>
			  <div class="error">
		    <%= msg %>
		  </div>
		<% elsif name == :partial %>
			  <div class="notification">
			<%= render :partial => "shared/flashes/#{msg}" %>
		  </div>
		<% end %>
	<% end %>
        
</header>


	<div class="contain">
		<div class="side"></div>
		<div class="main_con">
			<!-- <div class="page"><h2><%= @title %></h2></div>
				<div class="page3">			 -->
<%= yield %>
				<!-- </div>
			 </div> -->
				

	
				</div>
			<!-- <div class="side2"></div> -->
		</div>
		<div class="clear"></div>
		<footer>
			<%= render :partial => 'shared/footer' %>
		</footer>
	</div>
	</div>

	<!-- debug -->
	<% if Rails.env == "development" %>
	  <!-- <div id="footnotes_holder"> -->
	  <!-- </div> -->
	  <!-- <%= render :partial => 'shared/debug' %> -->
	<% end %>
</body></html>
