<!DOCTYPE html>
<!-- saved from url=(0055)http://www.precious-softwares.com/html/test6/index.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Page Title -->
<title>me learning</title>

 <!-- Description and Keyword -->
 <meta name="description" content="">
 <meta name="keywords" content="">
	
 <!-- Stylesheet and Bootstrap   -->
 <link rel="stylesheet" href="/bannfiles/bootstrap.css">
 <link rel="stylesheet" href="/bannfiles/bootstrap-responsive.css">
 <link rel="stylesheet" href="/bannfiles/styles.css">

<!-- Responsive Metatag -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 
 <!-- Google Fonts -->
 <link href="/bannfiles/css" rel="stylesheet" type="text/css">
 <link href="/bannfiles/css(1)" rel="stylesheet" type="text/css">
 <link href="/bannfiles/css(2)" rel="stylesheet" type="text/css">

 <!-- Favicon and Charset -->
 <link rel="shortcut icon" href="/bannfiles/favicon.png" type="image/x-icon">
 
 
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
 <!-- Load Javascript Scripts -->
<script type="text/javascript" src="/bannfiles/bootstrap.min.js"></script>
<script src="/bannfiles/jquery.min.js"></script>
<script type="text/javascript" src="/bannfiles/main.js"> </script>
<script type="text/javascript" src="/bannfiles/lightbox.js"> </script>

</head>

<!-- Body -->
<body style="">

<!-- Header Section -->
<header> 

     <div class="container wrapper"> 
         <!-- Logo - Title - Subtitle -->
         <div class="logo">
		     <hgroup style='width:220px; padding-left:0px;'>
                 <img src="/bannfiles/lobehold.png">
             </hgroup>
         </div>
		<div class='loginn'>
			<input name="login" value="Login" type="button" class="loginbtn" style='width:80px;' onClick="location.href='<%= new_user_session_path %>'">
		 </div>
		 <!-- Social Icons - Phone -->
         <div class="phone">
	
	
			 <ul class="social">
       			 <a href="https://www.facebook.com/melearningapp"><li id="facebook"></li> </a>
                 <a href="https://twitter.com/melearningapp"><li id="twitter"></li></a> 
				 <a href="mailto:info@melearni.ng"><li id="youtube"></li>   </a>
			 </ul>
		 </div>
     </div> 
	 
</header>

<!-- Main Product Section -->
<div id="main_product">
     <div class="container wrapper">
	 <div class="main_p1">
         <h1> Welcome to meLearning </h1>
         <h2 data-skip="true">Would you like a clear step by step plan you can adhere to?</h2>
					<h2 data-skip="true">Would you like to learn something new and be accountable to yourself?</h2> 
		 <ul class="features-1 ">
		 
		     <li> Create a Course</li>
		     <li> Support and Encourage</li>
			 <li> Easy to Follow  </li>
			 <li>   </li>
			
		 </ul>
		<%= link_to 'Sign up Now!', signin_path, :class=>"btn btn-large"  %>
		&nbsp;&nbsp;&nbsp;
		<%= link_to 'Browse Courses', courses_path, :class=>"btn btn-large"  %>
     </div>
     <div class="main_p2"> <img src="/bannfiles/mockup1.png" height="391" width="376" alt="" data-score="0.00002152181463316802"></div>
     </div>

</div> 

<!-- Main Page - Container - Wrapper -->
<div class="container wrapper"> 

<!-- Section Divider -->
<div class="divider"> </div>    


  <!-- MODULE 1 - START    Features Section    -->
     <div class="features responsive">
 
     <!-- Section Title -->
     <h1> Create and Share a Plan </h1>
	 <h2 data-skip="true">Are you an author, a workshop giver, a helper, a paradigm shifter or someone with a method to share?  </h2>
	 <h2>Would you like to have software support for your work?</h2>
	 <!-- Section Subtitle -->
	 
	
	
	 
	 <!-- Tabbed Slideshow -->
	 <div class=" features-list tabbed_content">
	 
	 <!-- Tabs   -->
	 <div class="tabs">
	 <div></div>
 
         <!--   tab 1   -->
	     <div class="fl tab_item current"> 
	         <img src="/bannfiles/icon1.png" alt="">
			 <h3> Create a Course </h3>
			 <p data-skip="true"> Creating a course is easy and fun! </p>
		 </div> 
		 
		 <!--   tab 2   -->
		 <div class="fl tab_item"> 
	         <img src="/bannfiles/icon2.png" alt="">
			 <h3 data-skip="true"> Support and Encourage </h3>
			 <p data-skip="true"> Supporting course followers and fellow.</p>
		 </div>
		 
		 <!--   tab 3   -->
		 <div class="fl1 tab_item"> 
	         <img src="/bannfiles/icon3.png" alt="">
			 <h3 data-skip="true"> Monitor and Follow </h3>
			 <p data-skip="true"> Monitor your each activity of followers </p>
		 </div>
		 <div class="fl1 tab_item"> 
	         <img src="/bannfiles/Icon7.png" alt="">
			 <h3> Benefits </h3>
			 <p data-skip="true"> Monitor your each activity and followers activity </p>
		 </div>
		 <div class="clear"> </div>
		  <div class="moving_bg2" style="left: 0px;"> &nbsp; </div>
		  
	 </div><!--   End of Tabs   -->
	  
	  <!--   Tabbed Content   -->
	 <div class="slide_content">						
			<div class="tabslider" style="margin-left: -920px;">
			
			<!--   Tabbed Content1   -->
			<ul>
				<li class="featured1">
				<div class="banner" style="max-width:95%; padding:65px 0;"><img src="/bannfiles/image-1.png" alt="" style="max-width:95%;" data-score="0.000004949582607168078"></div>
				<div class="banner-content">
				<h1> Create a Course</h1>
				
				<ul class="features-2 ">		 
		        <li data-meaningful="true" ct-id="6">meLearning makes it easy to distill your ideas in a format people can apply every day.</li>
		        <li data-meaningful="true" ct-id="7">A course is a set of activities that can be modified by each participant.</li>
		        <li data-meaningful="true" ct-id="5">Creating a course is easy and fun! </li>
		   </ul>
		   <!--   Buy it NOW - Button   -->
		   <div class="buttons"> 
		   <a class="large-buy-button" href="http://www.melearni.ng/users/sign_in">Create a Course Today</a> 
		   
		   
		   </div>
		   </div>
		   </li>
		   </ul>
		   
		   <!--   Tabbed Content2   -->
		   <ul>
		   <li class="featured1">
				<div class="banner" style="max-width:95%; padding:65px 0;"><img src="/bannfiles/banner2.png" alt="" data-score="1.3500447485337284e-7"></div>
				<div class="banner-content">
				<h1> Support and Encourage</h1>
				
				<ul class="features-2 ">		 
		        <li data-meaningful="true" ct-id="8"> Supporting course followers and fellow members is one of the <br> cornerstones of the Me Learning platform.</li>
		        <li data-meaningful="true" ct-id="10" data-skip="true">You can encourage members and answer questions in the Blogs section of your course.</li>
		        <li data-meaningful="true" ct-id="11"> All members can blog and encourage one another.</li>
		   </ul>
		   <!--   Buy it NOW - Button   -->
		   <div class="buttons"> 
		   <a class="large-buy-button" href="http://www.melearni.ng/users/sign_in">Create a Course Today</a> 
		   
		   
		   </div>
		   </div>
		   </li>
		   </ul> 
		   
		   <ul>
		   <li class="featured1">
				<div class="banner" style="max-width:95%; padding:65px 0;"><img src="/bannfiles/banner3.png" alt="" data-score="4.010043191555486e-8"></div>
				<div class="banner-content">
				<h1> Monitor and Follow</h1>
				
				<ul class="features-2 ">		 
		        <li data-meaningful="false" ct-id="12">See how people are applying and modifying for themselves your ideas over time.</li>					
		        <li data-meaningful="true" ct-id="13">See where members are struggling or wanting more information or depth.  It could help you improve your ideas.</li>
		        <li data-meaningful="true" ct-id="14">Have a place where people share their experiences about your work.</li>
		   </ul>
		   <!--   Buy it NOW - Button   -->
		   <div class="buttons"> 
		   <a class="large-buy-button" href="http://www.melearni.ng/users/sign_in">Create a Course Today</a> 
		   
		   
		   </div>
		   </div>
		   </li>
		   </ul> 
		   
		   <!--   Tabbed Content2   -->
		   <ul>
           <li class="featured1">
				<div class="banner" style="max-width:95%; padding:65px 0;"><img src="/bannfiles/banner4.png" alt="" data-score="1.894200801720591e-8"></div>
				<div class="banner-content">
				<h1> Benefits</h1>
				
				<ul class="features-2 ">		 
		        <li data-meaningful="true" ct-id="15">Create a web presence for your ideas and your work.</li>
		        <li data-meaningful="true" ct-id="17">Create a community of people following your ideas and interacting with one another</li>
		        <li data-meaningful="true" ct-id="16">Allow people to tailor your ideas for themselves with your guidance.</li>
				<li data-meaningful="true" ct-id="18">This is a great complement to information in another medium (book, workshops, and articles)</li>
		   </ul>
		   <!--   Buy it NOW - Button   -->
		   <div class="buttons"> 
		   <a class="large-buy-button" href="http://www.melearni.ng/users/sign_in">Create a Course Today</a> 
		   
		   
		   </div>
		   </div>
		   </li>
		   </ul> 
		  </div>
         <div class="clear"> </div>
		 
	 </div>
	 </div>
	 </div> <!--   End of Tabbed Slideshow   -->
	  

  <!-- MODULE 1 - END    Features Section    -->
   
<!-- Section Divider  -->
<div class="divider"> </div> 


	 
	 
      <!-- MODULE 3 - START    How It Work Section    -->
     <div class="how-it-works responsive">
  
     <!--   Section Title   -->
     <h1>Join courses and/or create your own plan</h1>
	 
	 <!--   Section Subtitle   -->
	 <h2 data-skip="true">A supportive learner - centric community!</h2>
	 
	 <!-- Learners -->
	 <div class=" features-list tabbed_content">
	 
	 <!-- Tabs   -->
	 <div class="tabs">
	 <div></div>
 
         <!--   tab 1   -->
	     <div class="fla tab_item current"> 
	         <img src="/bannfiles/icon1.png" alt="">
			 <h3>Develop a plan</h3>
			
			 <p data-skip="true"> You can join courses and create your own activities.</p>
		 </div> 
		 
		 <!--   tab 3   -->
		 <div class="fla tab_item"> 
	         <img src="/bannfiles/icon3.png" alt="">
			 <h3 data-skip="true"> Support and Guidance </h3>
			 <p data-skip="true"> One of the most fulfilling aspects</p>
		 </div>
		 <div class="fl2 tab_item"> 
	         <img src="/bannfiles/Icon7.png" alt="">
			 <h3> Benefits </h3>
			 <p data-skip="true"> Monitor your each activity and followers activity </p>
		 </div>
		 <div class="clear"> </div>
		  <div class="moving_bg2"> &nbsp; </div>
		  
	 </div><!--   End of Tabs   -->
	  
	  <!--   Tabbed Content   -->
	 <div class="slide_content">						
			<div class="tabslider">
			
			<!--   Tabbed Content1   -->
			<ul>
				<li class="featured1">
				<div class="banner"><img src="/bannfiles/plan.png" style="max-width:95%; margin-bottom:18px;" alt=""></div>
				<div class="banner-content">
				<h1>Develop your plan</h1>
				<h2>All users have their plan <span>Created by them and/or from courses they joined</span></h2>
				
				<ul class="features-2 ">		 
		        <li data-meaningful="true" ct-id="20">Learner-centric means courses your join or activities you create will be in YOUR plan.</li>
		        <li data-meaningful="true" ct-id="19"> meLearning Courses are designed with an easy-to-follow Plan, explained through Activities that provide instruction.</li>
		        <li data-meaningful="true" ct-id="21">You can tailor the activities in courses you join to suit your personal situation.</li>
		        <li data-meaningful="true" ct-id="21">Commit to a plan and keep track of when you do activities</li>
		   </ul>
		   </div>
		   </li>
		   </ul>
		   
		   <ul>
		   <li class="featured1">
				<div class="banner"><img src="/bannfiles/blog.png" style="max-width:95%; margin-bottom:18px;" alt=""></div>
				<div class="banner-content">
				<h1 data-skip="true">Enjoy Support and Guidance</h1>
				
				<ul class="features-2">		 
		        <li data-meaningful="true" ct-id="25"> One of the most fulfilling aspects of the Me Learning community is the support and encouragement exchanged between Course creators and Course followers, and among Course followers.</li>					
		        <li data-meaningful="true" ct-id="26"> Me learning encourage you to ask questions, share your ideas, and most importantly – accept and extend support and encouragement to your fellow members!  </li>
		        <li data-meaningful="true" ct-id="26">Find like minded people who are doing the same activities.</li>
		        
		   </ul>
		   </div>
		   </li>
		   </ul> 
		   
		   <!--   Tabbed Content2   -->
		   <ul>
           <li class="featured1">
				<div class="banner"><img src="/bannfiles/lerner4.jpg" style="max-width:95%; margin-bottom:18px;" alt=""></div>
				<div class="banner-content">
				<h1> Benefits</h1>
				
				<ul class="features-2 ">		 
		        <li data-meaningful="true" ct-id="27">Learner-centric - It's all about you.  You can follow multiple courses and it's all in your plan.</li>
		        <li data-meaningful="true" ct-id="28">Simplest way to put in practice someone's ideas and interact with others doing the same be it a training program, adhering to the four agreements, a yoga workshop... </li>
		        <li data-meaningful="true" ct-id="29">Tailor the content of courses for you: modify activities, delete some, add some.</li>
				<li data-meaningful="true" ct-id="30">See how others are applying  ideas over time img: blog/plan? See where ppl are struggling/answer questions/offer support, 
				it could help you improve your ideas;</li>
		   </ul>
		   </div>
		   </li>
		   </ul> 
		  </div>
         <div class="clear"> </div>
		 
	 </div>
	 </div>
	 
<!-- 	 <div class="hiw">
	 <div class="hiw1 visible-desktop"> 
	   
     <h1> Watch Our Product Tour  </h1>
	 
	
	 <h2> Lorem ipsum dolor sit amet, consetetur sadipscing. </h2>
	 <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitrrmod consetetur sadipscing elitrrmod  </p>
	 <div class="buttons" > 
		 <a class="large-buy-button" href="#">Create a Course Today</a> 
		 
		 
		 	
		  

		 </div>
	 </div>
	 <div class="hiw2"> <iframe src="http://player.vimeo.com/video/7449107?badge=0" width="460" height="254"  > </iframe> </div>
	 </div> -->
	 
     </div>
     <!-- MODULE 3 - END    How It Work Section    -->


<div class="divider"> </div> 
      <!-- MODULE 3 - START    How It Work Section    -->
     <div class="how-it-works responsive">
  
     <!--   Section Title   -->
     <h1> How does it all Work? </h1>
	 
	 <!--   Section Subtitle   -->
	 <h2>The best way to understand the application is by using it.  <span> Sign up now.</span> <BR>But here's the basics of how it works.</h2>
	 
	<div class="hiw">
		<div class="hiw1 visible-desktop"> 
		    <!--   Section Title   -->
		     <h1></h1>
	 
			 <!--   Section Subtitle   -->
			 <h2c>Everyone has a plan.  It's comprised of activities.  The activities could be from a course, or you created them, or copied them from someone else.  You can also modify any activity whether you created it or it's from a course.</h2c><BR><BR>
			 <h2c>Activities are either:
				</ul>
					<li> Reactive: In reaction to something external or internal. For example journal when I feel angry
				<li>Frequency: Do something a few times per time period. For example do a new activity of A Course In Miracles each day. Or run 3 times per week.
				<li>One time: If it's something to do once and you're done. For example "Create a meal plan" in a weight loss course.
				<li>Other: Anything that doesn't fall into one of the previous.</li>
			</ul>
				</h2c><BR>
			 <h2c>The activities are linked to their source, so when you blog about them, others with the same activity can see the entries and interact with you.</h2c><BR>
			 <h2c>You can mark any activity as done once (for example in your running program each time you run), and then see how you do over time with your commitment to the activity.</h2c><BR>
			 <h2c>When you create a blog entry you can check "could use some help" and others will see that and can give you advice.</h2c><BR><BR>
			 <h2c>That's pretty much it.  You keep doing your activities, modifying them, join courses you'd like to follow, and find like minded people to support and interact with.  
				<BR><BR><a href="http://www.melearni.ng/users/sign_in">Sign up and give it a shot!</a></h2c><BR><BR><BR>
	 	</div>
	 </div>
     </div>
     <!-- MODULE 3 - END    How It Work Section    -->
	 
<!-- Section Divider -->
<div class="divider"> </div> 
  


     <!-- MODULE 5 - START    Pricing Table Section    -->
 <!--    <div class="responsive">
  
     
     <h1> Princing Tables - Find Your Plan (Optional)</h1>
	 
	
	 <h2>  Convertix is a Multi-Purpose Theme. <span> Designed For You ! </span>  </h2>
	 
     <div class="row-fluid pricing">
	     <div class="span4 prc"> 
	         <div class="prc-header"> <h1> Basic</h1> <p> All you need to start </p> <small> </small>  <h3>20<strong>$</strong></h3> <p> per month </p> </div> 
	         <div class="prc-body">
			     <p> 1 Domain </p>
				 <small></small>
				 <p> 4GB Storage </p>
				 <small></small>
				 <p> 2 SQL Database </p>
				 <small></small>
				 <p> SSL Certificate </p>
				 <small></small>
				 <p> 10GB Bandwidth </p>
				 
				 
     		 </div> 
	         <div class="prc-footer"> <a class="signup-button" href="#">Signup </a> </div> 
	     </div>
		 
     <div class="span4 prc"> 
	         <div class="prc-header2"> <h1> Plus</h1> <p> All you need to start </p> <small> </small>  <h3>30<strong>$</strong></h3> <p> per month </p> </div> 
	         <div class="prc-body">
			     <p> 1 Domain </p>
				 <small></small>
				 <p> 5GB Storage </p>
				 <small></small>
				 <p> 2 SQL Database </p>
				 <small></small>
				 <p> SSL Certificate </p>
				 <small></small>
				 <p> 10GB Bandwidth </p>
				 
				 
     		 </div> 
	         <div class="prc-footer2"> <a class="signup-button" href="#">Signup </a> </div> 
			 
	 </div>
	 
	 <div class="span4 prc"> 
	         <div class="prc-header"> <h1>Unlimited</h1> <p> All you need to start </p> <small> </small>  <h3>50<strong>$</strong></h3> <p> per month </p> </div> 
	         <div class="prc-body">
			     <p> 1 Domain </p>
				 <small></small>
				 <p> 60GB Storage </p>
				 <small></small>
				 <p> 2 SQL Database </p>
				 <small></small>
				 <p> SSL Certificate </p>
				 <small></small>
				 <p> 10GB Bandwidth </p>
				 
				 
     		 </div> 
	         <div class="prc-footer"> <a class="signup-button" href="#"> Signup </a> </div> 
	 </div>
	 
	 
	 
	 </div>
     </div>-->
     <!-- MODULE 5 - END    Pricing Tables Section    -->

	 
	 
<!--   Section Divider2   -->
<div class="divider2"> </div>

     <!-- MODULE 6 - START    NewsLetter Section    -->
	 <div class="newsletter">
         <div class="news1"> 
		    <img src="/bannfiles/news-icon.png" alt="">
			<h3> Join our <span>Newsletter</span> </h3>
		 </div>
		 <div class="news2"> 
		 <img src="/bannfiles/news-icon2.png" alt="">
		
   		<!-- Begin MailChimp Signup Form -->
		<%= form_for(Message.new, :url => newsletter_url, :class => "validate", :remote => true) do |f| %>
	    <input type="email" value="" name="email" class="email subem" id="email2" placeholder="Your Email Adress Here ..." required="">
	    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button subsc">
		<% end %>
		        
        <!--End mc_embed_signup-->
		 </div>
	 </div>
     <!-- MODULE 6 - END    NewsLetter Section    -->

	 <!--   Section Divider2   -->
<div class="divider2"> </div>
	    
</div><!--#END# Main Page - Container + Wrapper #END#-->


 <!-- MODULE 7 - START    Footer Buy Button Section    -->
<div class="buy-footer"> 
<div class="wrapper container">
<h1> <span>Easy and blah blah!</span>&nbsp;&nbsp;&nbsp;&nbsp;Create or follow a Course Now! </h1>
<a class="large-buy-button">Join Now!</a>
</div>
</div>
 <!-- MODULE 7 - END    Footer Buy Button Section    -->

 
<!--   Footer Section   -->
<footer> 
     <div class="container wrapper">
	 
         <div class="foo"> 
		     <ul class="social2">
       			 <a href="https://www.facebook.com/melearningapp"><li id="facebook"></li> </a>
                 <a href="https://twitter.com/melearningapp"><li id="twitter"></li></a> 
				 <a href="mailto:info@melearni.ng"><li id="youtube"></li>   </a>
			 </ul>
		 </div>
		 <!-- <div class="foo"> 
             <ul class="navi">
		         <li class="active"> <a href="#"> About </a> </li>
		         <li> <a href="#">Contact </a> </li>
		          <li> <a href="#">Press </a> </li>
             </ul>	
	     </div> -->
		 
		 <div class=" copy"> 
            <p>  © me learning | All rights reserved.  </p>	
	     </div> 
	 </div>
</footer>
 
<!--   Contact Form Section   -->
</body></html>